body {
  font-family: "Lato", sans-serif;
}

.nav-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.nav-bar button{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  background-color: transparent;
  border:0px;

}

.nav-bar button:hover {
  color: #f1f1f1;
}

.nav-bar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .nav-bar {padding-top: 15px;}
  .nav-bar button {font-size: 18px;}
}
.open-nav{
  color: white;
  font-size: 2rem;
}
 
body{
  background-color: #090729c1;
}


h2{
  text-align: center;
  background-image: url('https://media1.tenor.com/images/0b55118beb391363d00313ba8ab116f7/tenor.gif?itemid=11184726');
  padding: 5rem;
  margin:0px;
  color: white;
  background-size: cover;
  font-size: 26px;
  padding-left: 100px;
}

.game-card{
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  padding-top: 0px;
  padding-right: 0%;
  padding-left: 0%;
  width: 8rem;
  height: 9rem;
  display: inline-grid;
  margin: 1rem 2rem;

}
.game-card:hover{
  background-color: rgb(165, 157, 157);
}
.game-name{
  color: white
}


.current-user{
  color: white;
}

.game-img {
  width: 100%; 
  height: 100%; 
}

.play-game{
  margin-left: 180px;
  
}



.login-btn{
  margin-bottom: 0px;
  margin-left:1000px;
}
.all-games{

  background-color: #090729;


}
.category-header{
  margin-left: 23rem;
  font-size: 22px;
  padding-bottom: 10px;
  padding-top: 10px;

}

.category-container{
  margin-left: 15rem;
  color: white;
}

.games-container{
  margin-left: 5rem;
    display: grid;
    margin-left: 450px;
}

html{
  background-color: #090729;
}